<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <h1>Nuevo Proyecto</h1>

  <div class="form-group">
      <label>Nombre del Proyecto:      </label>
      <div class="col-sm-13">
          <input type="text" formControlName="nameProject" class="form-control" placeholder="Ingrese nombre del Proyecto" required>
      </div>
  </div>
  <div class="form-group">
      <label> Descripcion:      </label>
      <div class="col-sm-13">
          <textarea formControlName="description" class="form-control" placeholder="Ingrese descipcion del Proyecto" rows="3" required></textarea>
        </div>
  </div>
  <div class="form-group">
      <label> Tipo de Proyecto:      </label>
      <div class="col-sm-13">
          <select class="form-control" required>
              <option>Seleccione un Tipo de Proyecto</option>
              <option>OutDoor</option>
              <option>InDoor</option>
              <option>Drive Test</option>
            </select>
        </div>  

  </div>
  <div class="form-group">
      <label> Seleccionar Cliente:      </label>
      <div class="col-sm-13">
          <select class="form-control" required>
              <option>Seleccione un Cliente</option>
              <option>Claro</option>
              <option>Movistar</option>
              <option>Personal</option>
            </select>
        </div>  
  </div>
  <div class="form-group">
      <label> Seleccionar Lider de Proyecto:      </label>
      <div class="col-sm-13">
          <select class="form-control" required>
              <option>Seleccione un Lider de Proyecto</option>
              <option>Llaya Jesus</option>
              <option>Pra Adolfo</option>
          </select>
        </div>
  </div>
  <div class="form-group">
      <label> Fecha Estimada de Inicio:      </label>
      <div class="col-sm-13">
          <input type="date" formControlName="estimatedStartDate" class="form-control" required>
        </div>
  </div>
  <div class="form-group">
      <label> Fecha Estimada de Finalizacion:      </label>
      <div class="col-sm-13">
          <input type="date" formControlName="estimatedFinishDate" class="form-control" required>
        </div>
  </div>
  <div class="form-group">
    <label>Sitio:    </label>
    <div class="col-sm-13">
        <input type="text" formControlName="sitio" class="form-control" placeholder="Ingrese Sitio del Proyecto" required>
    </div>
</div>
<div formGroupName="location" class="form-group row">
        <div class="col-sm-12">
      <label> Calle:
          <input type="text" formControlName="street" required class="form-control" required>
      </label>
      <label>
          Nro:
          <input type="text" formControlName="nro" required class="form-control"required>
    </label>
      <label>
          Ciudad:
          <select class="form-control" required>
              <option>Capital</option>
              <option>Rio Cuarto</option>
          </select>
      </label>
      <label>
          Provincia:
          <select class="form-control" required>
              <option>Cordoba</option>
              <option>Salta</option>
          </select>
      </label>
    </div>
  </div>
  <div class="form-group">
      <button type="submit" [disabled]="!projectForm.valid" class="btn btn-primary">Guardar</button>
  </div>
       


            
  </form>

  <p>
    Estado del Formulario: {{projectForm.status}}
  </p>

  <!--
  <div formArrayName="alias">
      <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
    
      <div *ngFor="let address of alias.controls; let i=index">
      
        <label>
          Alias:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </div>
  -->









